<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
 <title>File-Sharing</title>
</head>
<body>
   
    <section class="upload-container"> 
        <div class="drop-zone">
            <div class="icon-container">
                <img src="icons/file.svg" alt="file">
            </div>
            <input type="file" id="fileInput">
            <div class="title">Drag your files or ,<span class="browseBtn">browse</span></div>
        </div> 
        <div class="sharing-container">
            <p class="expire">Link expires in 24 hrs</p>
            <div class="popup">copied</div>
            <div class="input-container">
                <input type="text" id="fileURL" readonly>
                <img src="icons/copy-icon.svg" alt="copy-icon" id="copyBtn">
            </div>
        </div>
        </section>
    <script src="js/main.js"></script>
</body>
</html>