*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body,html{
  background: #9DC88D;
  height: 100%;
  padding: 0;
  margin: 0;
}

body, .drop-zone , .download-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-container{
  background: #164A41;
  border-radius: 10px;
  box-shadow: 0px 20px 20px #0000002e;
  position: relative;
}
.drop-zone{
  width: 500px;
  min-height: 200px;
  border: 2px dashed #164A41;
  margin: 30px;
  border-radius: 10px;
  transition: all .2s ease;
  background: #9DC88D;
}

.dragged.drop-zone{
    background: cyan;
    border-color: darkblue;
}
.icon-container{
    width: 75px;
    height: 100px;
    position: relative;
    
}
 
#fileInput{
  display: none;
}
.browseBtn{
  color: #036df8;
  cursor: pointer;
}

.sharing-container{
width: 500px;
display: none;
margin: 30px;
}

.expire{
  color: white;
}
.popup{
  position: absolute;
  right: 30px;
  bottom: 95px;
  color: white;
  display: none;
}
.sharing-container .input-container{
position: relative;
}
.sharing-container .input-container input{
width: 100%;
border: 2px dashed #164A41;
border-radius: 3px;
padding: 10px 15px;
box-sizing: border-box;
font-size: 20px;
background: #9DC88D;
color:white;
}

.input-container img{
position: absolute;
height: 22px;
width: 30px;
right: 7px;
top: 12px;
background:#9DC88D ;
cursor: pointer;
}
.download-container{
 
  padding: 10px;
  height: 400px;
  background: #164A41;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
 
}

.download-container div{
  box-shadow: 10px 10px 5px #4D774E;
  border: 1px solid #bfbfbf;
}


.uuid{
  padding: 4px;
  border-radius: 3px;
  margin: 4px;
  width: 400px;
  top: 40px;
  color: #ffffff;
  background: #9DC88D;
}
.uuid span{
  font-size: 25px;
  color: #000000f3;
}

.file-name{
  padding: 4px;
  border-radius: 3px;
  width: 400px;
  background: #9DC88D;
  color: #ffffff;
  top: 100px;
}
.file-name span{
  font-size: 25px;
  margin: 4px;
  color: #000000f3;
}

.down{
  width: 400px;
  padding: 4px;
  border-radius: 3px;
  background: #9DC88D;
  color: #ffffff;
}

.down span{
  font-size: 25px;
  margin: 4px;
  color: #000000f3;
}

button{
 top: 350px;
 background: #4D774E;
 color: white;
 padding: 4px;
 text-decoration: none;
 font-size: 20px;
 cursor: pointer;
 left: 170px;
 border-radius: 4px;
}

button:hover{
  color: #fff;
  background: black;
  transition: 0.2s ease all;
  transform: scale(1.15)
}
